<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365399752934-kksg1m2tfr2b7im4eldvd1cv3tr5j68s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365399752934-kksg1m2tfr2b7im4eldvd1cv3tr5j68s</string>
	<key>API_KEY</key>
	<string>AIzaSyB_B03ua5A-cWzVEfbF7Yq9O6A_1aAhvBk</string>
	<key>GCM_SENDER_ID</key>
	<string>365399752934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikhonovdigital.bump</string>
	<key>PROJECT_ID</key>
	<string>bump-5467c</string>
	<key>STORAGE_BUCKET</key>
	<string>bump-5467c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365399752934:ios:d96e0676b955f723bcbb27</string>
	<key>DATABASE_URL</key>
	<string>https://bump-5467c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>